* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    margin-bottom: 80px;
}


/*utilities*/

.border {
    border: 2px dashed black;
}

.flex {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.red-price {
    color: red;
}

.hidden {
    display: none;
}

.discount {
    background-color: #f00;
    color: white;
    padding: 2px 4px;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.label {
    background-color: darkgreen;
    color: white;
    padding: 2px 4px;
    width: 100px;
    position: absolute;
    left: 55px;
    bottom: 100px;
}


a,
.userbar>i,
.pages>i {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*header*/

header {
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
}

.h-navbar {
    color: white;
    font-weight: 600;
    background-color: #FF6900;
    height: 80px;
    box-shadow: 2px 2px 10px #dedede;

}

.nav>* {
    flex-basis: 33%;
}

.nav {
    height: 80px;
}

ul {
    list-style-type: none;

}

.logo>img {
    height: 40px;
}

.userbar {
    text-align: right;
}

.userbar>* {
    padding-right: 5px;
}

/*main*/
.row {
    flex-wrap: wrap;

}

.products {
    margin-top: 100px;
}

.box-img,
.box-img-after {
    width: 390px;
}

.col {
    text-align: left;
    position: relative
}

.heart-box {
    background-color: #fff;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
}

.change-prod:hover .box-img {
    display: none
}

.change-prod:hover .box-img-after {
    display: block;
}

/*footer*/

footer {
    background-color: #1A1A1A;
    color: white;
    height: 80px;
}

.f-navbar>* {
    flex-basis: 50%;
}

.info-title {
    text-align: left;
}

.informations,
.pages {
    line-height: 1.5;
    padding: 10px;
}

.pages {
    text-align: right;
}


/*BONUS*/

.heart-box:hover {
    color: #f00;
}